:root {
    font-size: 1.3em;
    --hero-color: #f2f200;
    --bg-color: #0000f2;
    --accent-color: #f2f200;
    --text-color: white;
    --main-font: dosis-bold;

    --inputbar-height-calculation: 3vmax;
    --shadow-attributes: .15em .15em black;
    --big-shadow-attributes: .1em .1em black
}



@font-face {
    font-family: dosis;
    src: url(../public/fonts/Dosis-Regular.ttf);
}
@font-face {
    font-family: dosis-bold;
    src: url(../public/fonts/Dosis-ExtraBold.ttf);
}

.background {
    background: var(--bg-color);
    height: 100vmax;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;

}

.mainGraph {
    color: black;
    width: 100vmax;
    min-width: 620px;
    aspect-ratio: 16/9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 1vw;
    box-shadow: var(--shadow-attributes);
    padding-top: 1vh;
    padding-bottom: 1vh;

    font-family: var(--main-font);
    background-color: var(--text-color);
}
.chartCanvas {
    max-height: fit-content;
}

.inputBar {
    height: auto;
    margin: auto;
    border-radius: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
}

.inputField {
    height: var(--inputbar-height-calculation);
    width: 30vw;
    justify-content: center;
    margin-right: var(--inputbar-height-calculation);
    margin-left: calc(var(--inputbar-height-calculation)*2);

    text-align: center;
    border-radius: 3vh;
    border-color: black;
    box-shadow: var(--shadow-attributes);
    font-size: calc(var(--inputbar-height-calculation) * .5);
    
    font-family: var(--main-font);
    background-color: white;
}

.checkButton {
    background-color: var(--accent-color);
    width: var(--inputbar-height-calculation);
    height: var(--inputbar-height-calculation);
    min-height: 40px;
    min-width: 40px;
    border-radius: max(3vw, 3vh);
    font-family: var(--main-font);
    font-size: max(10px, calc(var(--inputbar-height-calculation)*.4));
    box-shadow: var(--shadow-attributes);
}

.answer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: var(--hero-color);
}

.bigLetters {
    font-size: 7vw;
    font-family: var(--main-font) ;
    text-shadow: var(--big-shadow-attributes);
}

.slash {
    padding-top: 3vh;
    font-size: 4vw;
    font-family: var(--main-font);
    text-shadow: var(--shadow-attributes);

}

.littleLetters {
    font-size: 3vw;
    font-family: var(--main-font);
    text-shadow: var(--shadow-attributes);
    
}

/* canvas {
    height: 5px;
} */

.sideBySide {
    height: 35vmax;
    min-height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 5vmax;
    padding-top: 5vmax;
    font-family: var(--main-font);
    text-shadow: var(--shadow-attributes);
}

.description {
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: left;
    width: 25vw;
    min-width: 250px;
    color: var(--text-color);
}

.results {
    color: var(--text-color);
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 25vw;
    min-width: 300px;

}

.extra-padding{
    width: 5vw;
}

.divider {
    display: flex;
    width: 10vw;
    justify-content: center;
}

.dividerLine {
    width : 5px;
    border-radius: 5px;
    background-color: var(--accent-color);
    justify-content: center;
    box-shadow: var(--shadow-attributes);
}

.mainTitle {
    color: var(--text-color);
    padding-top: 2vh;
    text-align: center;
    font-family: var(--main-font);
    text-shadow: var(--big-shadow-attributes);
    
}

.warningText {
    margin-left: calc(var(--inputbar-height-calculation)*2);
    color: #f27900;
}